.register-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.register-form-input {
	display: flex;
	flex-direction: column;
}

.register-form-input>input {
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 5px;
}

.form-error {
	color: red
}